@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/Login.css" />
    <script type="text/javascript" src="/js/java.js"></script>
</head>
<style>
    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f1f1f1;
    }

    .container {
        max-width: 400px;
        margin: 100px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }


        #button:hover {
            background-color: yellow;
        }

</style>
<body>
    <div class="container">
        <h1>Welcome</h1>
        @using (Html.BeginForm("Login", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <form class="form">
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <br />
                <button class = "button"type="submit" id="button">Login</button>
                <br />
                @Html.ActionLink("Registrate", "Form", "Form", htmlAttributes: new { @class = "button" })
            </form>
        }
    </div>
</body>
</html>
